:root {
    /****** DEFINE SITE-WIDE VARIABLES *****/
      --white: white;
      --myPurple: #635eae;
      --orange: orange;
      --black: black;
  
      /*TEXT VARIABLES*/
      --text-double: 2em;
    }
    body {
      background-color: var(--myPurple);
      color: var(--white);
    }
    /*END GLOBAL VARIABLES*/
  
    /*****FONT UTILITY CLASSES*****/
     /*FONT SIZES*/
      .double{
        font-size: var(--text-double);
      }
     /*FONT EFFECTS*/
      .baseline-down{
        vertical-align: -.25em;
      }
    /*END FONT UTILITY CLASSES*/
  
    /*****STRUCTURAL STYLES*****/
    header {
      margin-bottom: 4em;
    }
    nav {
      font-weight: bold;
    }
    main > div {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(220px,  1fr));
      grid-auto-rows: 1fr;
      grid-column-gap: 2vw;
      grid-row-gap: 2vw;
    }
    .card {
      position: relative;
      height: 100%;
      border-color: orange;
      border-width: 1px;
      border-style: solid;
    }
    /*END STRUCTURAL STYLES*/
  
    /*****SEMANTIC STYLES*****/
    button.buy {
      background-color: var(--orange);
      width: 90%;
      margin-top: 6px;
      justify-content: center;
      position: absolute;
      bottom: 12px;
      right: 5%;
    }
    h4.card-title {
      color: var(--black);
      font-size: 1rem;
      padding: 1em;
      text-transform: uppercase;
    }
    /*END SEMANTIC STYLES*/
    
    /***** INDEX.HTML ANIMATION STYLES *****/
    .face {
      position: relative;
      width: 600px;
      height: 320px;
      background-color: none;
      background-image: url("purple_logo.jpg");
    }
    
    .eyes {
      position: relative;
      top: 130px;
      left: 200px;
      display: flex;
      margin-right: 350px;
    }
    
    .eyes .eye {
      position: relative;
      top: 3px;
      width: 30px;
      height: 30px;
      display: block;
      background: black;
      margin: 0 15px;
      margin-right: 40px;
      border-radius: 50%;
    }
    
    .eyes .eye:before {
      content: ' ';
      position: absolute;
      top: 50%;
      transform: translate(-5%, -5%);
      transform-origin: 50%;
      width: 15px;
      height: 15px;
      background: white;
      border-radius: 50%;
    }
    
    