:root{
    --googly-purple: #635eae;
    --white: white;
    /****** DEFINE SITE-WIDE VARIABLES *****/
    --white: white;
    --myPurple: #635eae;
    --orange: orange;
    --black: black;
    --grid-template4-2: grid-template-columns: 1fr 1fr 1fr 1fr;
    /*SPACING VARIABLES*/
    --body-width: 75%;
    --mobile-only: none;

    /*TEXT VARIABLES*/
    --text-double: 2em;
}
@media (max-width: 600px) {  /* MOBILE SITE VARIABLES */
    :root{
      --mobile-only: block;
      --body-width: 95%
    }
}

 body {
    width: var(--body-width);
    margin: auto;
    background: var(--googly-purple);
    color: var(--white);
 }
 button.buy {
    background-color: var(--orange);
    width: 90%;
    position: absolute;
    bottom: 12px;
    right: 5%;
 }
 h4.card-title {
    color: var(--black);
    font-size: 1em;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
 }
 nav{
  border-bottom: solid 1px var(--white);
  margin-bottom: 32px;
 }
 .baseline-down {
    font-size: 2.5em;
    float: left;
    width: 50px;
    transform: translateY(-8px);
 }
 .baseline-down:first-of-type {
    margin-left: 62px;
 }
 .card {
    border-color: orange;
    border-width: 1px;
    border-style: solid;
    padding: 9px 9px 0 9px;
    margin-top: 45px;
  }
  .card-body{
    display: block;
    padding: 0px;
    margin: 0px;
  }
  .card img {
    max-width: 90%;
    margin: auto;
  }
  .dog-api{
    max-width: 100%;
  }  
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content;
    gap: 16px;
    padding: 0% 5%;
  }
  .nav-button {
    position: absolute;
    right: 0px;
    top: 20px;
    font-size: 1.5rem;
  }
  