
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #635eae;
    color: white;
  }
  
  .face {
    position: relative;
    width: 600px;
    height: 320px;
    background-color: none;
    background-image: url("purple_logo.jpg");
  }
  
  .eyes {
    position: relative;
    top: 130px;
    left: 200px;
    display: flex;
    margin-right: 350px;
  }
  
  .eyes .eye {
    position: relative;
    top: 3px;
    width: 30px;
    height: 30px;
    display: block;
    background: black;
    margin: 0 15px;
    margin-right: 40px;
    border-radius: 50%;
  }
  
  .eyes .eye:before {
    content: ' ';
    position: absolute;
    top: 50%;
    transform: translate(-5%, -5%);
    transform-origin: 50%;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
  }
  
  